body {
    height: 100vh;
    background: rgb(60, 60, 60);
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: "Open Sans";
    text-transform: capitalize;
    color: rgb(60, 60, 60)
}

.title {
    height: 5vh;
    background: linear-gradient(to right, orange, red)
}

.content {
    height: 90vh;
    background: linear-gradient(45deg, blue,red, yellow);
}

.footer {
    height: 5vh;
    background: linear-gradient(to right, white,gray);
}